jobms.url=http://localhost:8083
companyms.url=http://localhost:8082
reviewms.url=http://localhost:8081

spring.application.name=reviewms
#.server.port=8081
#spring.h2.console.enabled=true
#spring.datasource.url=jdbc:h2:mem:test
#spring.jpa.show-sql=true
#spring.jpa.hibernate.ddl-auto=create-drop
#.spring.datasource.url=jdbc:postgresql://localhost:5433/review19
#.spring.datasource.username=db_username
#.spring.datasource.password=db_password
#.spring.datasource.driver-class-name=org.postgresql.Driver
#.spring.jpa.database=POSTGRESQL
#.spring.jpa.show-sql=true
#It creates tables when application starts and drops them when application stops.
#.spring.jpa.hibernate.ddl-auto=create-drop
#this tells hibernate to use postgre sql syntax
#.spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
#eureka properties
#.eureka.client.service-url.defaultZone=http://localhost:8761/eureka/
#.eureka.client.register-with-eureka=true
#.eureka.client.fetch-registry=true

#zipkin
#.management.tracing.sampling.probability=1.0
#.management.zipkin.tracing.endpoint=http://localhost:9411/api/v2/spans
#.management.endpoints.web.exposure.include=*

#config server
spring.config.import=optional:configserver:http://configserver:8084
spring.profiles.active=dev

#RabbitMQ
spring.rabbitmq.host=localhost
spring.rabbitmq.port=5672
spring.rabbitmq.username=guest
spring.rabbitmq.password=guest

